---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/style.scss";

---
<style lang="scss">
body{
    background: #FBEFE0;
}
img{
    border-radius: 50%;
}
.main-container{
    background: #FBEFE0;
}
</style>
<Layout>
    <Header />
        <main class="main-container">
            <section class="calendar-container">
                <div class="header">
                    <button id="prevBtn">←</button>
                    <h2 id="calendarTitle"></h2>
                    <button id="nextBtn">→</button>
                </div>
                <table class="calendar">
                    <thead>
                        <tr>
                            <th class="sun">日</th>
                            <th>月</th>
                            <th>火</th>
                            <th>水</th>
                            <th>木</th>
                            <th>金</th>
                            <th class="sat">土</th>
                        </tr>
                    </thead>
                <tbody id="calendarBody"></tbody>
                </table>
                <div class="back-button">
                    <button onclick="history.back()">戻る</button>
                </div>
            </section>
            <script type="module" src="/scripts/calendar.js"></script>
        </main>
    <Footer />