---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/style.scss";

---
<style lang="scss">
body{
    background: #FBEFE0;
}
img{
    border-radius: 50%;
}
.main-container{
    background: #FBEFE0;
}
</style>
<Layout>
    <Header />
    <section class="main-container">
        
    </section>
    <Footer />