---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/style.scss";

---

<style lang="scss">


</style>

<Layout>
  <Header />
    <main class="main-container">
      <div>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
        <p>ここに追加されていく</p>
      </div>
    </main>
  <Footer />
</Layout>
