---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from  "astro:assets";
import Back from "../assets/back2.png";
import User from "../assets/User.png";

import "../styles/style.scss";
---
<style lang="scss">
body{
    overflow: hidden;
}
img{
    border-radius: 50%;
}
.main-container{
    background: #fcfcfc;
    .player_back{
        margin-top: -30px;
        height: 30%;
        background: #AE9890;
        text-align: left;
        .icon {
            text-align: center;
            margin-top: -20px;
        }
        .container {
        text-align: center;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 24px;
        font-weight: bold;
        color: #fcfcfc;
        #user_name{
            margin-left: 35%;
        }
        }
        #name-input {
        font-size: 24px;
        font-weight: bold;
        padding: 4px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        }
        .player_level{
            font-size: 16px;
            text-align: center;
            color: #fcfcfc;
            margin-top: -1px;
            .number{
                font-size: 32px;
            }
        }
    }
    .player_data{
        border-left: solid 10px #AE9890;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin-left: 30px;
        .toc{
            margin-left: 10px;
        }
    }
    .toc_items{
        display: flex;
        justify-content: space-around;
        .player_title{
            color: #fcfcfc;
            background: #AE9890;
            padding: 10px 20px;
            border-radius: 30px;
        }
    }
}
</style>
<Layout />
<Header />
    <main class="main-container">
        <div class="player_back">
            <a href="/"><Image src={Back} alt="戻る" width={35} height={35} /></a>
            <div class="icon"><Image src={User} alt="アイコン"  width={110} height={110} /></div>
                <div class="container">
                    <span id="user_name">田中 明夫</span>
                    <button id="edit-button">✏️</button>
                    <input type="text" id="name-input" style="display: none;" />
                </div>
            <p class="player_level">プレイヤーレベル<span class="number">15</span></p>
        </div>
        <div>
            <div class="player_data">
                <p class="toc">記録</p>
            </div>
            <div class="toc_items">
                <p class="player_title">消化タスク</p>
                <p>65個</p>
            </div>
            <div class="toc_items">
                <p class="player_title">大辞典解放率</p>
                <p>26%</p>
            </div>
            <div class="toc_items">
                <p class="player_title">トロフィー数</p>
                <p>0個</p>
            </div>
            <div class="toc_items">
                <p class="player_title">最高タスク数</p>
                <p>6個</p>
            </div>
        </div>
    </main>
<Footer />