---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/style.scss";
---
<style lang="scss">
.player_back{
    
}
</style>
<Layout>
    <Header />
        <div class="player_back">こんにちは</div>
    <Footer />
</Layout>
