---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/style.scss";
---
<style lang="scss">
.player_back{
    background: #AE9890;
}
</style>
<Layout />
    <Header />
    <main>
        <div class="player_back">こんにちは</div>
    </main>
    <Footer />

