---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from  "astro:assets";
import Back from "../assets/back2.png";

import "../styles/style.scss";
---
<style lang="scss">
.main-container{
    background: #fcfcfc;
    .player_back{
        margin-top: -30px;
        height: 30%;
        background: #AE9890;
        text-align: left;
        .back{
            width: 100px;
            height: 100px;
            
        }
    }
}
</style>
<Layout />
<Header />
    <main class="main-container">
        <div class="player_back">
            <a class="back" href="/"><Image src={Back} alt="戻る" /></a>
        </div>
    </main>
<Footer />


