html{
    font-size: 120px;
}
body{
    max-width: 670px;
}
header{
    text-align: center;
    font-size: 27px;
    color: orange;
    /* margin-top: 20px; */
    border-radius: 0 0 15px 15px;
    background: #F19D83;
    padding: 20px;
}